<div class="wrapper">
<div class="container">
  <div class="row">
    <div class="banner-info text-center wow fadeIn delay-05s">
      <p class="bnr-para"></p>
      <div class="overlay-detail">
        <a href="#feature"><i class="fa fa-angle-down"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
    <!---->
    <span> Popular books </span>
    <div class="album text-muted">
    <div class="container">
        <div class="row">
            <div class="card">
                <img src="assets/img/AI.png" alt="100%x280" class="img-responsive image">
              </div>
          <div class="card-text">
              <h3 class="pad-bt15">by Russell</h3>
              <p>Artificial Intelligence 3e: A Modern Approach</p>
            </div>
            <div class="card">

                <img src="assets/img/neural.png" class="img-responsive image">
              </div>
              <h3 class="pad-bt15">by FAUSETT</h3>
              <p>Fundamentals of Neural Networks: Architectures, Algorithms and Applications</p>
            </div>

            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="assets/img/Mlearning.png" class="img-responsive image">
              </div>
              <h3 class="pad-bt15">by Willi Richert</h3>
              <p>Building Machine Learning Systems with Python</p>

          </div>
        </div>
      </div>
